# .gitignore

# Local virtual environment directories
venv/
__pycache__/

# Local .terraform directories
**/.terraform/*
infrastructure/.terraform

# .tfstate files
*.tfstate
*.tfstate.*
# terraform.tfvars # Exclude this if it contains sensitive information

# Terraform lock file
.terraform.lock.hcl

# Package files
package
*.zip

